#include "version.h"
#include "Winver.h"

#define VER_FILEVERSION     LOOTCLI_VERSION_MAJOR,LOOTCLI_VERSION_MINOR,LOOTCLI_VERSION_MAINTENANCE,0
#define VER_FILEVERSION_STR LOOTCLI_VERSION_STRING

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VS_FF_PRERELEASE
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     (0)
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904B0"
BEGIN
VALUE "FileVersion", VER_FILEVERSION_STR
VALUE "CompanyName", "Mod Organizer 2 Team\0"
VALUE "FileDescription",  "LOOT Command line interface\0"
VALUE "OriginalFilename", "lootcli.exe\0"
VALUE "InternalName", "lootcli\0"
VALUE "LegalCopyright", "Copyright 2011-2016 Sebastian Herbord\r\nCopyright 2016-2021 Mod Organizer 2 contributors\0"
VALUE "ProductName",      "lootcli\0"
VALUE "ProductVersion", VER_FILEVERSION_STR
END
END

BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0409, 1200
END
END
